[package]
name = "redirectionio-cloudflare-worker"
version = "2.6.0"
authors = ["contact@redirection.io"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
chrono = { version = "0.4.19", features = ["serde", "wasmbind"] }
futures-util = { version = "0.3.21", default-features = false }
redirectionio = { path = "../../agent/libredirectionio", version = "=2.7.1", default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.70"
worker = "0.0.15"
getrandom = { version = "0.2.8", features = ["js"] }

[profile.release]
lto = true
opt-level = "s"
